{% extends "base.html" %}

{% block conteudo %}

    <h3>Adicionar Item</h3>
    <form action="compras_adc.php" method='post'>
        <input type="text" name="item" placeholder="Digite sua fruta">
        <input type="submit" value='Adicionar'>
    </form>
    <hr>
    <p>Esta é sua lista de compras</p>

    <ul>
        {% for compra in compras %}
                <li>{{compra.item}} 
                    <a href="compras_pegar_alterar.php?id={{compra.id}}">Alterar</a> | 
                    <a href="compras_dlt.php?id={{compra.id}}">Apagar</a>
                </li> <br> {# ou <li>{{compra['item']}}</li>  #}
        {% endfor %}
    </ul>

{% endblock %}
